apiVersion: v1
kind: Service
metadata:
  name: mail-queue-api
  namespace: mail-queue
  labels:
    app.kubernetes.io/name: mail-queue
    app.kubernetes.io/component: api
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3000"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: mail-queue
    app.kubernetes.io/component: api
  ports:
    - name: http
      port: 80
      targetPort: 3000
      protocol: TCP
  sessionAffinity: None
