@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.5% 0.02 254);
  --color-muted: oklch(96.7% 0.003 264);
  --color-muted-foreground: oklch(55.1% 0.027 264);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(14.5% 0.02 254);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(14.5% 0.02 254);
  --color-border: oklch(91.4% 0.006 264);
  --color-input: oklch(91.4% 0.006 264);
  --color-primary: oklch(20.5% 0.015 264);
  --color-primary-foreground: oklch(98.5% 0.002 247);
  --color-secondary: oklch(96.7% 0.003 264);
  --color-secondary-foreground: oklch(20.9% 0.02 264);
  --color-accent: oklch(96.7% 0.003 264);
  --color-accent-foreground: oklch(20.9% 0.02 264);
  --color-destructive: oklch(57.7% 0.245 27);
  --color-destructive-foreground: oklch(98.5% 0.002 247);
  --color-ring: oklch(70.7% 0.022 261);
  --color-success: oklch(62.7% 0.194 149);
  --color-warning: oklch(79.5% 0.184 86);
  --radius: 0.5rem;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono",
    monospace;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.dark {
  --color-background: oklch(14.5% 0.02 254);
  --color-foreground: oklch(98.5% 0.002 247);
  --color-muted: oklch(21.5% 0.02 264);
  --color-muted-foreground: oklch(71.1% 0.02 261);
  --color-popover: oklch(14.5% 0.02 254);
  --color-popover-foreground: oklch(98.5% 0.002 247);
  --color-card: oklch(14.5% 0.02 254);
  --color-card-foreground: oklch(98.5% 0.002 247);
  --color-border: oklch(26.8% 0.015 264);
  --color-input: oklch(26.8% 0.015 264);
  --color-primary: oklch(98.5% 0.002 247);
  --color-primary-foreground: oklch(20.5% 0.015 264);
  --color-secondary: oklch(21.5% 0.02 264);
  --color-secondary-foreground: oklch(98.5% 0.002 247);
  --color-accent: oklch(21.5% 0.02 264);
  --color-accent-foreground: oklch(98.5% 0.002 247);
  --color-destructive: oklch(57.7% 0.245 27);
  --color-destructive-foreground: oklch(98.5% 0.002 247);
  --color-ring: oklch(34.4% 0.02 264);
}
